.cabecalho__menu-hamburguer {
    width: 36px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 12px 6px;
    margin-right: 24px;
}

.container__botao:checked~.container1__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.svg);
}

.container__botao:checked~.container1__rotulo {
    background: var(--cor-primaria);
    width: 48px;
    height: 48px;
    margin-right: 24px;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 18px 24px;
}

.container1 {
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.container2 img {
    width: 38px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-primaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width:1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
        align-items: center;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.opções__rotulo>.opções__item {
        background: var(--cor-primaria);
        color: var(--branco);
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-primaria);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .container__texto {
        margin: 0.6em;
        display: block;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }
}